In [6]:
#numpy pandas matpotlib库的使用
#数据分析与可视化
import pandas as pd
unrate = pd.read_csv('unrate.csv')
print(unrate)

           DATE  VALUE
0    1948-01-01    3.4
1    1948-02-01    3.8
2    1948-03-01    4.0
3    1948-04-01    3.9
4    1948-05-01    3.5
5    1948-06-01    3.6
6    1948-07-01    3.6
7    1948-08-01    3.9
8    1948-09-01    3.8
9    1948-10-01    3.7
10   1948-11-01    3.8
11   1948-12-01    4.0
12   1949-01-01    4.3
13   1949-02-01    4.7
14   1949-03-01    5.0
15   1949-04-01    5.3
16   1949-05-01    6.1
17   1949-06-01    6.2
18   1949-07-01    6.7
19   1949-08-01    6.8
20   1949-09-01    6.6
21   1949-10-01    7.9
22   1949-11-01    6.4
23   1949-12-01    6.6
24   1950-01-01    6.5
25   1950-02-01    6.4
26   1950-03-01    6.3
27   1950-04-01    5.8
28   1950-05-01    5.5
29   1950-06-01    5.4
..          ...    ...
794  2014-03-01    6.7
795  2014-04-01    6.2
796  2014-05-01    6.2
797  2014-06-01    6.1
798  2014-07-01    6.2
799  2014-08-01    6.2
800  2014-09-01    6.0
801  2014-10-01    5.7
802  2014-11-01    5.8
803  2014-12-01    5.6
804  2015-01-01    5.7
805  2015-02-01    5.5
806  2015-03-01    5.5
807  2015-04-01    5.4
808  2015-05-01    5.5
809  2015-06-01    5.3
810  2015-07-01    5.3
811  2015-08-01    5.1
812  2015-09-01    5.1
813  2015-10-01    5.0
814  2015-11-01    5.0
815  2015-12-01    5.0
816  2016-01-01    4.9
817  2016-02-01    4.9
818  2016-03-01    5.0
819  2016-04-01    5.0
820  2016-05-01    4.7
821  2016-06-01    4.9
822  2016-07-01    4.9
823  2016-08-01    4.9

[824 rows x 2 columns]

In [7]:
#访问指定行

print(unrate.head(2))
print(unrate.loc[0:2])

         DATE  VALUE
0  1948-01-01    3.4
1  1948-02-01    3.8
         DATE  VALUE
0  1948-01-01    3.4
1  1948-02-01    3.8
2  1948-03-01    4.0

In [8]:
#1. df['column_name'] ，df[row_start_index, row_end_index] 选取指定整列数据
unrate['DATE']
unrate[2:12]

          DATE  VALUE
2   1948-03-01    4.0
3   1948-04-01    3.9
4   1948-05-01    3.5
5   1948-06-01    3.6
6   1948-07-01    3.6
7   1948-08-01    3.9
8   1948-09-01    3.8
9   1948-10-01    3.7
10  1948-11-01    3.8
11  1948-12-01    4.0

In [9]:
#2. loc，在知道列名字的情况下，df.loc[index,column] 选取指定行，列的数据
unrate.loc[1:3,'VALUE']

1    3.8
2    4.0
3    3.9
Name: VALUE, dtype: float64

In [5]:
#3. iloc，在column name特别长或者index是时间序列等各种不方便输入的情况下，
#可以用iloc (i = index), iloc完全用数字来定位 iloc[row_index, column_index]
from matplotlib.font_manager import FontProperties 
font_set = FontProperties(fname=r"c:\windows\fonts\simsun.ttc", size=12)
firstYear=unrate.loc[0:11]
xdata=firstYear['DATE']
ydata=firstYear['VALUE']
plt.plot(xdata,ydata)
plt.xticks(rotation=90)
plt.xlabel('月份',fontproperties=font_set)
plt.ylabel('失业百分比',fontproperties=font_set)
plt.title("1948年美国失业形势",fontproperties=font_set)
plt.show()

NameError: name 'firstYear' is not defined

In [ ]:
#4. ix, ix很强大，loc和iloc的功能都能做到 ix[row_index, column_index]
#切片时，iloc行不含下标上限，loc,ix行包含，列iloc和ix都不含列下标上限
unrate.ix[1:3,0:2]

In [ ]:
#数据可视化matplotlib
import matplotlib.pyplot as plt
firstYear=unrate.loc[0:11]
print(firstYear)

In [ ]:
#绘制1948年失业率变化曲线图
xdata=firstYear['DATE']
ydata=firstYear['VALUE']
plt.plot(xdata,ydata)
plt.show()

In [ ]:
#坐标轴优化
plt.plot(xdata,ydata)
plt.xticks(rotation=45)
plt.show()

In [ ]:
#添加x,y轴说明
plt.plot(xdata,ydata)
plt.xticks(rotation=90)
plt.xlabel('月份')
plt.ylabel('失业率 ')
plt.title('1948年美国就业趋势')
plt.show()

In [ ]:
 #中文乱码处理
from matplotlib.font_manager import FontProperties 
font_set = FontProperties(fname=r"c:\windows\fonts\simsun.ttc", size=12)
plt.plot(xdata,ydata)
plt.xticks(rotation=90)
plt.xlabel('月份',fontproperties=font_set)
plt.ylabel('失业率 ',fontproperties=font_set)
plt.title('1948年美国就业趋势',fontproperties=font_set)
plt.show()

In [ ]:
import datetime
date_time = datetime.datetime.strptime(unrate.iloc[1,0],'%Y-%m-%d')
print(date_time.month)

In [ ]:
import datetime
unrate['MONTH'] =unrate['DATE'].astype('datetime64')
unrate['MONTH']=unrate['MONTH'].dt.month
print(unrate['MONTH'])

In [ ]:
#多对象作图
import datetime
unrate['MONTH'] =unrate['DATE'].astype('datetime64')
unrate['MONTH']=unrate['MONTH'].dt.month
fig = plt.figure(figsize=(6,3))

plt.plot(unrate[0:12]['MONTH'], unrate[0:12]['VALUE'], c='red')
plt.plot(unrate[12:24]['MONTH'], unrate[12:24]['VALUE'], c='blue')

plt.show()

In [ ]:
#5年作图
fig = plt.figure(figsize=(10,6))
colors = ['red', 'blue', 'green', 'orange', 'black']
for i in range(5):
    start_index = i*12
    end_index = (i+1)*12
    subset = unrate[start_index:end_index]
    plt.plot(subset['MONTH'], subset['VALUE'], c=colors[i])
    
plt.show()

In [ ]:
#添加图例
fig = plt.figure(figsize=(10,6))
colors = ['red', 'blue', 'green', 'orange', 'black']
for i in range(5):
    start_index = i*12
    end_index = (i+1)*12
    subset = unrate[start_index:end_index]
    label = str(1948 + i)
    plt.plot(subset['MONTH'], subset['VALUE'], c=colors[i], label=label)
plt.legend(loc='best')
#print help(plt.legend)
plt.show()

In [ ]:
#标注数据点
fig = plt.figure(figsize=(10,6))
colors = ['red', 'blue', 'green', 'orange', 'black']
for i in range(5):
    start_index = i*12
    end_index = (i+1)*12
    subset = unrate[start_index:end_index]
    label = str(1948 + i)
    plt.plot(subset['MONTH'], subset['VALUE'], c=colors[i], label=label,marker='+')
plt.legend(loc='best')
#print help(plt.legend)
plt.show()

In [ ]:
#课堂作业：绘制1948年以来的年平均失业率曲线